<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="/styles.css">
  <script src='/modals.js'></script>
  <script src="https://kit.fontawesome.com/4c27b24a35.js" crossorigin="anonymous"></script>
   <!-- needed for modals-->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <title>Twitt</title>
</head>

<body>

  <!----NavBar---->
  <nav class="navContainer">
      <ul class="right">
        <li>
        <a href="/userHome" style='color:white;' class="modal-trigger">UserHome</a>
           {{! <button type="button" class="btn btn-dark" onclick="userHome()">UserHome</button> }}
        </li>
      <li>
          <a href="#" style='color:white;' class="modal-trigger"  data-target="modal-tweet"><i class="fas fa-hashtag"></i></a>
        </li>
        <li>
          <a href="/logout" style='color:white;' class="modal-trigger">Logout</a>
        </li>
        <li>
          <a href="/index.html" style='color:white;' class="modal-trigger">Home</a>
        </li>
       </ul>
  </nav>
 
<div class = 'row'>
<div class = 'col-3'></div>

<div class="list-group col-6 w-100">
<br>
 <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
  <button type="button" class="btn btn-dark" onclick="follow(window.location.pathname)">follow</button>
  <button type="button" class="btn btn-dark" onclick="unfollow(window.location.pathname)">Unfollow</button>
  </a><br>
 {{#tweets}}
  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between col-6">
      <h5 class="mb-1">@ {{username}}</h5>
      <small>3 days ago</small>
    </div>
    <p class="mb-1">{{tweet}}</p>
    <small>#{{tweet_to}}</small>
  </a><br>{{/tweets}}
  </div>
  <div class = 'col-3'>
  </div>
</div>
<!--window.location.pathname -->

{{! -----------MODAL FOR CREATING TWEET------------------- }}
 <div id="modal-tweet" class="modal">
    <div class="modal-content-mine">
      <h4>Spew Your Vom</h4><br />

      <form id="tweet-form" method = 'post'>
        <div class="input-field">
          <label>Tweet Content</label>
          <input type="text"required name='tweet' />
        </div>
        <div class="input-field">
          <label>To Whom..</label>
          <input type="text" name = 'toWho' />
        </div>
         {{! <div class = 'input-filed'>
            <h1>Upload Image</h1>
           <input type="file" accept="image/*" name="photo" >
      </div> }}
          <input type='submit' value='submit' class='modal-btn btn'>
      </form>
  </div>


</body>

</html>

